{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron bg-smooth-white mt-4 jumbotron-fluid">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-8 col-12 mx-auto">
          <h1 class="maroon main-label text-center mb-4">Seductor</h1>
          <form class="form-row mx-auto" method="GET">
            <div class="col-lg-10">
              <input type="url" class="form-control form-control-lg bg-smooth-white maroon cornered only-bottom-border" placeholder="Type your URL here" name="url" required>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-block bg-maroon pure-white cornered" type="submit" style="font-size:18px;">Magic</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
