{% extends 'base.html' %}

{% block navlinks %}
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/about">About</a>
  <a class="nav-link" href="/top">Top</a>
{% endblock %}

{% block content %}
  <div class="vertical-center">
    <div class="container">
      <div class="row mx-auto text-center mb-5 pb-5">
        <div class="col-12">
          <h1 class="urobilin main-label">Magic URL:</h1>
        </div>
        <div class="col-12 mx-auto text-center">
          <a href="{{ short_url }}" class="magic-link">
            <h2 class="urobilin">{{ short_url }}</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
