{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron bg-smooth-white mt-4">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-8 col-12 mx-auto">
          <a href="{{ short_url }}" class="magic-link text-center">
            <h2 class="maroon">{{ short_url }}</h2>
          </a>
          <div class="text-center">
            <img src="{{ url_for('static', filename='img/{}.png'.format(qrname)) }}">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
